.nav {
  box-shadow: none;
  padding-left: 60px;
  padding-right: 60px;
  background-color: none;
  z-index: 100;
}

.nav a {
  letter-spacing: 0.2rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.red-text {
  color: #d11f3d !important;
}
