/***********GLOBAL STYLES ***********/

.test {
  border: 1px red solid;
}

.maxWH {
  width: 100%;
  height: 100%;
}

.borders {
  padding: 20px;
  border-radius: 25px;
}

.postBG {
  background: #dddcdc;
  /* background: #322626; */
  padding: 20px;
  border-radius: 25px;
}

/*background: #424242;*/

.textColor {
  /* PostHeaderTop */
  color: black;
}

.iconPost {
  font-size: 20px;
  color: #f16363;
}

.iconPostActive {
  color: #f16363;
  font-size: 25px;
}

.iconPost:hover {
  font-size: 30px;
  color: #ff5d5d;
}

.handlePostUserLink {
  padding: 0;
}

.handlePostUserLink:hover {
  color: #f16363;
  font-weight: bold;
}

.cardProfile > div {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.newsHover:hover {
  cursor: pointer;
  background: #ef8d8d;
  padding: 20px;
  border-radius: 25px;
}

.imageSize {
  height: 200px;
  max-height: 300px;
  max-width: 100%;
  border-radius: 25px;
}
.profileCard {
  background: #dddcdc;
  justify-content: center;
  text-align: left;
  border-radius: 25px;
}

.signup {
  padding: 2rem;
  box-shadow: 0 0 5px 2px rgba(172, 40, 40, 0.3);
}

.login {
  height: 90vh !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
