/***********GLOBAL STYLES ***********/

.test {
  border: 1px red solid;
}

.maxWH {
  width: 100%;
  height: 100%;
}

.postBG {
  background: #424242;
}

.PostHeaderTop {
  color: white;
}

.iconPost {
  font-size: 25px;
  color: white;
}

.iconPostActive {
  color: red;
  font-size: 25px;
}

.iconPost:hover {
  font-size: 30px;
  color: red;
}
